<div class="pageWrapper mat-app-background">
  <div class="content">
    <h1>Create/Edit your Calendar</h1>

    <form [formGroup]="calendarForm">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" placeholder="My-Calendar">
        <mat-hint>Name cannot be changed!</mat-hint>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput type="text" formControlName="description" placeholder="Description"></textarea>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="pw" placeholder="Password">
        <mat-icon matSuffix class="toggleButton" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <br>

      <!--      <mat-form-field appearance="outline">-->
      <!--        <mat-label>Confirm Password</mat-label>-->
      <!--        <input matInput type="text" placeholder="Confirm Password">-->
      <!--      </mat-form-field>-->
      <!--      <br>-->

      <button mat-raised-button color="primary" class="formButton" (click)="saveCalendar()">Save Calendar</button>
      <button mat-raised-button class="formButton" (click)="goBack()">Cancel</button>
    </form>
  </div>
</div>


