<mat-toolbar color="primary">
  <button mat-icon-button class="icon" routerLink="">
    <mat-icon>calendar_today</mat-icon>
  </button>
  <span *ngIf="calendarService.calendar == null">
      Calendars
  </span>

  <span *ngIf="calendarService.calendar != null">
      {{ calendarService.calendar.name }}
  </span>

  <span class="spacer"></span>


  <button mat-icon-button *ngIf="calendarService.calendar != null" class="icon" (click)="showCalendarSettings(calendarService.calendar)">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button *ngIf="calendarService.calendar != null" class="icon" (click)="calendarService.copyUrl(calendarService.calendar)">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
