/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pageWrapper {
  width: 100vw;
  min-height: 100vh;
}

mat-toolbar {
  position: fixed;
  z-index: 999;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 88px 7.5vw;
}

.newDateHeadline {
  font-size: 18px;
  font-weight: 500;

  grid-column: 1 / -1;
  border-top: #424242 solid 1px;
  padding-top: 1em;
}

.calendarListWrapper, .searchInputWrapper, .appointmentListWrapper {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

mat-card {
  cursor: pointer;
}

.createButton {
  position: fixed !important;
  bottom: 120px;
  right: 7.5vw;
  width: 200px;
  height: 50px;
}

form {
  width: 100%;
}

mat-form-field {
  width: 500px;
  max-width: 100%;
}
