<div class="pageWrapper mat-app-background">
  <div class="content">
    <h1>Create/Edit an Appointment</h1>

    <form [formGroup]="appointmentForm">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput type="text" formControlName="title" placeholder="Title" placeholder="e.g. Birthday! \(*ᵕ*)/">
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput type="text" formControlName="description" placeholder="Description"></textarea>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="e.g. 1/15/2021">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline"class="halfWidthInput">
        <mat-label>From</mat-label>
        <input matInput type="text" formControlName="startTime" placeholder="e.g. 13:15">
      </mat-form-field>

      <div class="halfWidthInputDivider"></div>

      <mat-form-field appearance="outline" class="halfWidthInput">
        <mat-label>To</mat-label>
        <input matInput type="text" formControlName="endTime" placeholder="e.g. 13:45">
      </mat-form-field>
      <br>

      <button mat-raised-button color="primary" class="formButton" (click)="saveAppointment()">Save Appointment</button>
      <button mat-raised-button class="formButton" (click)="goBack()">Cancel</button>
    </form>
  </div>
</div>


