<div class="pageWrapper mat-app-background">
  <div #content class="content">
    <div class="appointmentListWrapper" *ngIf="calendarService.calendar != null">
      <ng-container *ngFor="let appointment of calendarService.calendar.appointments; let i = index;">
        <span class="newDateHeadline"
              *ngIf="i==0 || i > 0 && calendarService.calendar.appointments[i-1].date != appointment.date">{{ appointment.date | date:'dd/MM/yyyy' }}</span>

        <mat-card>
          <mat-card-title>
            {{ appointment.title }}
            <button mat-icon-button class="icon cardIcon" (click)="editAppointment(appointment)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          <mat-card-content>{{ appointment.start }} - {{ appointment.end }}</mat-card-content>
        </mat-card>
      </ng-container>

      <ng-container *ngIf="calendarService.calendar.appointments.length == 0">
        <mat-card>
          <mat-card-title>No appointments yet</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          <mat-card-content>To create a new appointment, click the button in the lower right corner!</mat-card-content>
        </mat-card>
      </ng-container>
    </div>
    <button mat-raised-button color="primary" class="createButton" (click)="createAppointment()">Add Appointment</button>
  </div>
</div>
