<div class="pageWrapper mat-app-background">
  <mat-toolbar color="primary">
    <button mat-icon-button class="icon" routerLink="">
      <mat-icon>home</mat-icon>
    </button>
    <span>
      {{ calendarService.calendar.name }}
  </span>

    <span class="spacer"></span>

    <button mat-icon-button class="icon" (click)="copyUrl()">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button class="icon">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-toolbar>

  <div #content class="content">
    <div class="appointmentListWrapper">
      <ng-container *ngFor="let appointment of calendarService.calendar.appointments; let i = index;">
        <span class="newDateHeadline"
              *ngIf="i==0 || i > 0 && calendarService.calendar.appointments[i-1].date != appointment.date">{{ appointment.date }}</span>

        <mat-card>
          <mat-card-title>{{ appointment.title }}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          <mat-card-content>{{ appointment.start }} - {{ appointment.end }}</mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>

  <app-footer></app-footer>
</div>
